.field {
    margin-top: 50px;
    margin-left: 10px;
}

.table{
    margin-top: 20px;
    margin-left: 10px;
    width: 200%;
    height: 20%;
}
.button {
    margin-left: 2px;
}

.pagination{
    margin-top: 5%;
    margin-left: 10px;

}

.pagination-next{
  margin-right: auto;
}
