.field {
    margin-top: 50px;
    margin-left: 10px;
}

.table{
    margin-top: 20px;
    margin-left: 10px;
    width: 200%;
    height: 20%;
}
.button {
    margin-left: 2px;
}

.pagination{
    margin-top: 5%;
    margin-left: 10px;

}

.pagination-next{
  margin-right: auto;
}

@media screen and (max-width: 1050px){
    .table  {
      grid-gap: 3rem;
      width: 100%;
      height: 20%;
    }
    .pagination-previous .pagination-next {
        grid-gap: 5rem;
      }
  }
  
  
  @media screen and (max-width: 900px){
    
    .table{
      grid-template-columns: 1fr;
      width: 100%;
      height: 20%;
    }
    .pagination-previous .pagination-next {
        grid-gap: 1fr;
      }
  }